if SHIELD_ISO85SPLIT_DONGLE

config ZMK_KEYBOARD_NAME
    default "ISO 85 Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# config ZMK_USB
#     default n    

endif

if SHIELD_ISO85SPLIT_LEFT || SHIELD_ISO85SPLIT_RIGHT || SHIELD_ISO85SPLIT_DONGLE
    
    config ZMK_SPLIT 
        default y

endif

if SHIELD_ISO85SPLIT_LEFT || SHIELD_ISO85SPLIT_RIGHT

    config ZMK_PM_SOFT_OFF
        default y

endif